In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter("ignore")

In [69]:
df = pd.read_csv("Ex1-Class-train-1.csv")
df

         id     x1     x2 x3 x4 x5     x6     x7     x8     x9    x10  y
0    id-001  22.34   0.56  g  o  u   9.43  25.38 -20.91 -25.84   4.08  B
1    id-002  -2.31   7.36  i  p  y  -3.94    NaN  31.65  12.95   9.82  C
2    id-003 -17.55  -4.09  f  l  v -11.02  -1.77 -17.57  15.98  11.43  D
3    id-004 -13.54  -5.42  g  p  x   4.11   2.22  16.72   9.86  16.43  A
4    id-005  13.39  -3.20  i  l  v   2.23  11.76   1.34   4.16  -6.49  B
..      ...    ...    ... .. .. ..    ...    ...    ...    ...    ... ..
485  id-486  12.54   3.16  h  m  v  -3.49 -16.43  -3.70  -4.12  -2.83  D
486  id-487   8.10  -2.49  i  m  u -10.61  -1.63  -8.81  18.60  10.92  B
487  id-488  13.72 -10.59  i  m  y -32.73  -3.94    NaN   8.97  -8.30  C
488  id-489  -6.12  -6.37  e  m  u  22.34  -4.66 -10.86 -17.77  -0.21  C
489  id-490  -4.73 -10.89  g  n  x -20.01  16.22  -9.36   9.43  -2.02  B

[490 rows x 12 columns]

In [70]:
df.shape

(490, 12)

In [71]:
# Check missing data
df.isnull().sum()

id     10
x1     10
x2     10
x3     10
x4     10
x5     10
x6     10
x7     10
x8     10
x9     10
x10    10
y      10
dtype: int64

In [72]:
df[['x1', 'x2', 'x6', 'x7', 'x8', 'x9', 'x10']] = df[['x1', 'x2', 'x6', 'x7', 'x8', 'x9', 'x10']].fillna(0)
df = df.dropna()

In [73]:
df

         id     x1     x2 x3 x4 x5     x6     x7     x8     x9    x10  y
0    id-001  22.34   0.56  g  o  u   9.43  25.38 -20.91 -25.84   4.08  B
1    id-002  -2.31   7.36  i  p  y  -3.94   0.00  31.65  12.95   9.82  C
2    id-003 -17.55  -4.09  f  l  v -11.02  -1.77 -17.57  15.98  11.43  D
3    id-004 -13.54  -5.42  g  p  x   4.11   2.22  16.72   9.86  16.43  A
4    id-005  13.39  -3.20  i  l  v   2.23  11.76   1.34   4.16  -6.49  B
..      ...    ...    ... .. .. ..    ...    ...    ...    ...    ... ..
485  id-486  12.54   3.16  h  m  v  -3.49 -16.43  -3.70  -4.12  -2.83  D
486  id-487   8.10  -2.49  i  m  u -10.61  -1.63  -8.81  18.60  10.92  B
487  id-488  13.72 -10.59  i  m  y -32.73  -3.94   0.00   8.97  -8.30  C
488  id-489  -6.12  -6.37  e  m  u  22.34  -4.66 -10.86 -17.77  -0.21  C
489  id-490  -4.73 -10.89  g  n  x -20.01  16.22  -9.36   9.43  -2.02  B

[442 rows x 12 columns]

In [74]:
df['y'].value_counts()

D    118
A    109
B    108
C    107
Name: y, dtype: int64

In [29]:
df.columns

Index(['id', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'x10', 'y'], dtype='object')

In [33]:
# sns.pairplot(df, vars=['id', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'x10'],
#             hue='y',
#             markers=['o', 'D', '+'],
#             plot_kws={'alpha': .4})

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [46]:
X = df[['id', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'x10']]
Y = df['y']
test_size = 0.2

X_train, X_test, y_train, y_test = train_test_split(
    X,
    Y,
    test_size=test_size,
    random_state=7)

In [47]:
X_train.head()

         id     x1     x2 x3 x4 x5     x6     x7     x8     x9    x10
321  id-322 -37.72 -26.90  e  p  x  19.51  -1.51  -0.82 -12.65 -18.34
14   id-015  -0.39   9.35  h  m  w  -7.08  -5.46  -4.47   7.77  -7.38
212  id-213   3.56   6.94  h  o  y  12.94   8.92  32.00    NaN   6.16
422  id-423   1.40  -6.57  i  m  y -12.61   7.42  17.49  20.05  -1.39
443  id-444   5.07  15.12  h  n  u  10.49  23.51  -1.88   3.92  -4.16

In [50]:
y_train

321    A
14     D
212    B
422    C
443    B
      ..
211    B
67     D
25     B
196    D
175    D
Name: y, Length: 392, dtype: object

In [51]:
X_test

         id     x1     x2 x3 x4 x5     x6     x7     x8     x9    x10
240  id-241 -29.89   0.25  f  l  y  15.89  -4.40  25.21  14.12  -4.30
60   id-061 -27.77   3.90  e  p  u  40.03 -16.74  -8.82 -28.91   3.49
402  id-403  21.44  -8.98  i  l  u  27.18  -1.98  15.42   5.84  -9.34
159  id-160 -41.95  -6.79  e  o  x  25.40  -3.62  21.42   9.68  -9.56
51   id-052  -3.07  -8.43  g  n  w  -9.26   3.83  -9.11   7.92   0.47
..      ...    ...    ... .. .. ..    ...    ...    ...    ...    ...
482  id-483  17.67  20.65  h  n  x -41.40  13.53 -28.57  -1.97 -20.84
337  id-338   7.64  23.61  h  m  v   2.42  -3.57  -6.07  -3.21  -5.18
351  id-352  -6.85  -6.65  g  m  x -28.29   9.77 -17.86  17.59 -12.66
118  id-119  14.48  23.32  h  n  u  17.30 -18.52   0.86 -16.02    NaN
50   id-051  -0.72  15.85  f  n  u  32.87  -5.53  -8.53 -18.01   6.43

[98 rows x 11 columns]

In [52]:
model = KNeighborsClassifier()
model

KNeighborsClassifier()

In [ ]:
model.fit(X_train)